.ticket-info {
    padding-bottom: 20px;
    
    @include media(">=tablet") {
        padding-top: 40px;
    }

    @include media(">=desktop") {
        padding-bottom: 109px;
    }

    .text-box {
        @include media(">=desktop") {
            padding: 0 0 0 50px;
        }
    }

    .h4 {
        margin-bottom: 20px;

        @include media(">=desktop") {
            margin-bottom: 34px;
        }
    }

    p {
        margin-bottom: 20px;

        @include media(">=tablet") {
            margin-bottom: 0;
        }

        @include media(">=desktop") {
            font-size: 15px;
            line-height: 1.6;
        }
    }
}