.ticket-info {
    padding-bottom: 40px;
    
    @include media(">=tablet") {
        padding: 40px 0 99px;
    }

    .text-box {
        @include media(">=desktop") {
            padding: 0 0 0 50px;
        }
    }

    .h4 {
        margin-bottom: 20px;

        @include media(">=desktop") {
            margin-bottom: 34px;
        }
    }

    p {
        margin-bottom: 20px;

        @include media(">=tablet") {
            margin-bottom: 0;
        }

        @include media(">=desktop") {
            font-size: 15px;
            line-height: 1.6;
        }
    }
}