@font-face {
    font-family: 'Univers';
    src: url('../fonts/univers-bold.woff2') format('woff2'),
         url('../fonts/univers-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}