.header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    .container-fluid {
        padding: 15px;
        @include media(">=tablet") {
            padding: 25px 30px;
        }
    
        @include media(">=desktop") {
            padding: 29px 44px;
        }
    }
}

.logo {
    width: 131px;
    img {
        width: 100%;
    }
}

.btn-back,
.btn-next {
    @include animate(color);
    color: $primary;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;

    @include media(">=tablet") {
        font-size: 18px;
    }

    em {
        font-size: 30px;
        @include media(">xs-phone") {
            font-size: 42px;
        }
    }
}

.btn-back {
    em {
        margin-right: 5px;
        @include media(">xs-phone") {
            margin-right: 14px;
        }
    }
}

.btn-next {
    em {
        margin-left: 5px;
        @include media(">xs-phone") {
            margin-left: 14px;
        }
    }
}